[submodule "Weather/lib/forge-std"]
	path = Weather/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Weather/lib/openzeppelin-contracts"]
	path = Weather/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
